@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


#snsLogo{
  width: 120px;
  height: auto;
  transition: all 0.5s;
}

#snsLogo:hover #Capa_2-2 path{
  fill: #a21caf;
}

#Capa_1-2 path{
  fill: black;
}

#Capa_2-2 path{
  fill: black;
}


body {
}
